* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

img {
    margin: auto;
    display: block;
}

p {
    color: blueviolet;
}

div.container {
    text-align: center;
    background-color: wheat;
}

ul.theUL, ol.theOL {
    display: inline-block;
    text-align: left;
}

.header, .centre {
    text-align: center;
}